@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sora-font {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
  }


  #regbg {
    background-image: url('https://static.vecteezy.com/system/resources/previews/015/413/532/non_2x/landscape-with-forest-campsite-against-mountains-in-background-orange-tent-in-forest-banner-poster-for-climbing-hiking-trakking-sport-adventure-tourism-travel-backpacking-illustration-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  a.active{
    background-color: rgb(4, 142, 4);
    color: white;
  }